@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family:'inter';
}

body {
  background-color: #181818;
}

.nav-wrapper {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.nav-container {
  width: 50%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #181818;
  height: 80%;
  display: flex;
  border-radius: 1vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgb(72, 72, 72);
}

.nav-container p {
  width: 90%;
}

.banner {
  height: 50vh;
  display: flex;
  justify-content: center;
}

.banner-content {
  background-color: #686868;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-wrapper {
  display: flex;
  height:25% ;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap:2vw ;
}

.banner-title-container {
  color: white;
}

.banner-title-container p {
  font-weight: bold;
  font-size: 1.8vw;
  line-height: 150%;
}

.banner-title-container p + p {
  font-weight: 300;
  font-size: 1vw;
}

.banner-player{
   text-decoration: underline
}

.banner-player:hover {
  color: rgb(89, 186, 255);
  cursor: pointer;
 
}

.play-butt {
  width: 6vh;
  height: 6vh;
  background-color:#F09F35 ;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  box-shadow: 0px 3px 10px rgb(72, 72, 72);
}

.section {
  
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
}

.sub-head {
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  margin-top: 5vh;

}

.about {
  height: 15vh;
}

.desc {
  margin-top: 2vh;
  font-size: 0.8vw;
  color: white;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 180%;
}

.gameplay {
 
  height: 50vh;
}

.gameplay-banner {
  width: 100%;
  aspect-ratio: 21/9;
  height: auto;
  background-color: #686868;
  margin-top: 2vh;
}

.updates {
  height: 50vh;
}

.updates-wrapper {
  width: 100%;
  height: 100%;
}

.updates-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.updates-content div {

}

.long {
  width: 48%;
  background-color: #686868;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.short {
  width: 48%;
  color: white;
  font-weight: 300;
  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.short-card {
  height: 50%;
  background-color: #686868;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.short-head {
  font-weight: bold;
}

.todo-list {
  list-style-position: inside
}

.striked {
  text-decoration: line-through;
}

.footer-container{ 
  color: white;
  font-weight: bold;
  height: 50px;
  
}
.footer-container p {
  text-decoration: underline;
}